@font-face {
  font-family: 'Galano Grotesque Alt';
  src: url('fonts/galano-grotesque-alt-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galano Grotesque Alt';
  src: url('fonts/galano-grotesque-alt-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galano Grotesque Alt';
  src: url('fonts/galano-grotesque-alt-semi-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galano Grotesque Alt';
  src: url('fonts/galano-grotesque-alt-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
